<h1>老爸私房錢</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle btn-lg" type=" button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-expanded="false">
        類別
    </button>
    <form action="./" method="POST"></form>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item " href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
    </form>
</div>

<div class="row">
    <div class="col-2">
        <h2>總金額</h2>
    </div>
    <div class="col-10">
        <h1>999999</h1>
    </div>

</div>
<div class="" name="list">

    {{!-- <div class="row border">
        <div class="col-auto">
            <a><i class="fas fa-home fa-4x"></i></a>
        </div>
        <div class="d-flex flex-column col-5">
            <h2>title</h2>
            <h6>date</h6>
        </div>

        <div class="d-flex  col-auto align-items-center" name="function">
            <h3 class="m-1">刪除</h3>

            <h3 class="m-1">修改</h3>

        </div>

    </div>
    <div class="row border">
        <div class="col-auto">
            <a><i class="fas fa-home fa-4x"></i></a>
        </div>
        <div class="d-flex flex-column col-5">
            <h2>title</h2>
            <h6>date</h6>
        </div>

        <div class="d-flex  col-auto align-items-center" name="function">
            <h3 class="m-1">刪除</h3>

            <h3 class="m-1">修改</h3>

        </div>

    </div>
    <div class="row border">
        <div class="col-auto">
            <a><i class="fas fa-home fa-4x"></i></a>
        </div>
        <div class="d-flex flex-column col-5">
            <h2>title</h2>
            <h6>date</h6>
        </div>

        <div class="d-flex  col-auto align-items-center" name="function">
            <h3 class="m-1">刪除</h3>

            <h3 class="m-1">修改</h3>

        </div>

    </div> --}}

    {{#each record}}
    <div class="row border">
        <div class="col-auto">
            <a><i class="fas fa-home fa-4x"></i></a>
        </div>
        <div class="d-flex flex-column col-5">
            <h2>{{this.name}}</h2>
            <h6>{{this.date}}</h6>
        </div>
        <div class="d-flex col-1 align-items-center">
            <h2>{{this.amount}}</h2>

        </div>

        <div class="d-flex col-auto align-items-center" name="function">
            <h3 class="mr-1">刪除</h3>

            <h3 class="mr-1">修改</h3>

        </div>

    </div>

    {{/each}}
</div>


<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary ">新增支出</button>
</div>